{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Administration {% endblock %}

{% block body %}
    <div class="d-none d-md-block">
        <h1>Panneau d'administration</h1>
        <div class="d-flex  justify-content-center mt-4">
            <ul>
                <li class="mb-4"><a href="{{path('administrateur_addUser')}}" class="btn btn-outline-primary btn-lg btn-block">Inscrire un utilisateur manuellement</a></li>
                <li><a href="{{ path('administrateur_index') }}" class="btn btn-outline-primary btn-lg btn-block">Désactiver un participant</a></li>
            </ul>
        </div>
        <div class="d-flex  justify-content-center mt-2">
            <a class="btn btn-secondary" href="{{ path('default_accueil') }}">Retour</a>
        </div>
    </div>



{% endblock %}

