{% extends "base.html.twig" %}

{% block title %} ACCUEIL ADMIN {% endblock %}

{% block body %}
    <h2>Gestion des sorties et participants</h2>
    <ul>
        <li class="nav-item"><a href="{{path('administrateur_addUser')}}" class="nav-link">Inscrire un utilisateur manuellement</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Inscrire un utilisateur par intégration de fichier</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Désactiver un participant</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Supprimer un participant</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Annuler une sortie</a></li>
    </ul>

{% endblock %}

