{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Administration {% endblock %}

{% block body %}
    <h1>Panneau d'administration</h1>
    <div class="flex-container">


<ul>
    <a href="{{path('administrateur_addUser')}}" class="btn btn-outline-primary btn-lg btn-block">Inscrire un utilisateur manuellement</a>
    <a href="{{ path('administrateur_index') }}" class="btn btn-outline-primary btn-lg btn-block">Désactiver un participant</a>
</ul>




    </div>
    <div class="container-flex">
        <a class="btn btn-secondary" href="{{ path('default_accueil') }}">Retour</a>
    </div>




{% endblock %}

