{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" name="submit" value="Enregistrer"></input>
    <input type="submit" class="btn btn-success" name="submit" value="Publier"></input>
    {{ form_end(form) }}

    <a class="btn btn-secondary" href="{{ path('sortie_index') }}">Annuler</a>
{% endblock %}
